---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n/index.ts";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout
    title={i18n.agb.SEO_TITLE}
    description={i18n.agb.SEO_DESCRIPTION}
    keywords={i18n.agb.KEYWORDS}
>
    <meta slot="noindex" name="robots" content="noindex" />
    <div>
        <h1
            class="text-4xl md:text-5xl font-bold text-center mx-auto mt-8 mb-1"
        >
            {i18n.agb.TITLE}
        </h1>
        <div class="max-w-3xl mx-auto px-4">
            <h2 class="text-xl md:text-2xl text-center mx-auto text-white/70">
                {i18n.agb.SUBTITLE}
            </h2>
            <div class="flex justify-center mt-4 mb-6">
                <img
                    class=""
                    src="/img/pdf_icon.webp"
                    alt="PDF icon"
                    style="cursor:pointer"
                    onclick="window.open('/agb_Gillot_2005.pdf', '_blank')"
                />
            </div>
            <div>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_1}</h3>
                <p>
                    1.1&nbsp; {i18n.agb.TEXT_1_1}
                </p>
                <p>
                    1.2&nbsp; {i18n.agb.TEXT_1_2}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_2}</h3>
                <p>
                    2.1&nbsp; {i18n.agb.TEXT_2_1}
                </p>
                <p>
                    2.2&nbsp; {i18n.agb.TEXT_2_2}
                </p>
                <p>
                    2.3&nbsp; {i18n.agb.TEXT_2_3}
                </p>
                <p>
                    2.4&nbsp; {i18n.agb.TEXT_2_4}
                </p>
                <p>
                    2.5&nbsp; {i18n.agb.TEXT_2_5}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_3}</h3>
                <p>
                    3.1&nbsp; {i18n.agb.TEXT_3_1}
                </p>
                <p>
                    3.2&nbsp; {i18n.agb.TEXT_3_2}
                </p>
                <p>
                    3.3&nbsp; {i18n.agb.TEXT_3_3}
                </p>
                <h3 class="mt-5 font-bold">
                    {i18n.agb.TITLE_4}
                </h3>
                <p>
                    4.1&nbsp; {i18n.agb.TEXT_4_1}
                </p>
                <p>
                    4.2&nbsp; {i18n.agb.TEXT_4_2}
                </p>
                <p>
                    4.3&nbsp; {i18n.agb.TEXT_4_3}
                </p>
                <p>
                    4.4&nbsp; {i18n.agb.TEXT_4_4}
                </p>
                <p>
                    4.5&nbsp; {i18n.agb.TEXT_4_5}
                </p>
                <p>
                    4.6&nbsp; {i18n.agb.TEXT_4_6}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_5}</h3>
                <p>
                    5.1&nbsp; {i18n.agb.TEXT_5_1}
                </p>
                <p>
                    5.2&nbsp; {i18n.agb.TEXT_5_2}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_6}</h3>
                <p>
                    6.1&nbsp; {i18n.agb.TEXT_6_1}
                </p>
                <p>
                    6.2&nbsp; {i18n.agb.TEXT_6_2}
                </p>
                <p>
                    6.3&nbsp; {i18n.agb.TEXT_6_3}
                </p>
                <p>
                    6.4&nbsp; {i18n.agb.TEXT_6_4}
                </p>
                <p>
                    6.5&nbsp; {i18n.agb.TEXT_6_5}
                </p>
                <p>
                    6.6&nbsp; {i18n.agb.TEXT_6_6}
                </p>
                <p>
                    6.7&nbsp; {i18n.agb.TEXT_6_7}
                </p>
                <p>
                    6.8&nbsp; {i18n.agb.TEXT_6_8}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_7}</h3>
                <p>
                    7.1&nbsp; {i18n.agb.TEXT_7_1}
                </p>
                <p>
                    7.2&nbsp; {i18n.agb.TEXT_7_2}
                </p>
                <p>
                    7.3&nbsp; {i18n.agb.TEXT_7_3}
                </p>
                <p>
                    7.4&nbsp; {i18n.agb.TEXT_7_4}
                </p>
                <p>
                    7.5&nbsp; {i18n.agb.TEXT_7_5}
                </p>
                <p>
                    7.6&nbsp; {i18n.agb.TEXT_7_6}
                </p>
                <p>
                    7.7&nbsp; {i18n.agb.TEXT_7_7}
                </p>
                <p>
                    7.8&nbsp; {i18n.agb.TEXT_7_8}
                </p>
                <p>
                    7.9&nbsp; {i18n.agb.TEXT_7_9}
                </p>
                <p>
                    7.10&nbsp; {i18n.agb.TEXT_7_10}
                </p>
                <h3 class="mt-5 font-bold">
                    {i18n.agb.TITLE_8}
                </h3>
                <p>
                    8.1&nbsp; {i18n.agb.TEXT_8_1}
                </p>
                <p>
                    8.2&nbsp; {i18n.agb.TEXT_8_2}
                </p>
                <h3 class="mt-5 font-bold">
                    {i18n.agb.TITLE_9}
                </h3>
                <p>
                    9.1&nbsp; {i18n.agb.TEXT_9_1}
                </p>
                <p>
                    9.2&nbsp; {i18n.agb.TEXT_9_2}
                </p>
                <p>
                    9.3&nbsp; {i18n.agb.TEXT_9_3}
                </p>
                <p>
                    9.4&nbsp; {i18n.agb.TEXT_9_4}
                </p>
                <h3 class="mt-5 font-bold">
                    {i18n.agb.TITLE_10}
                </h3>
                <p>
                    10.1&nbsp; {i18n.agb.TEXT_10_1}
                </p>
                <p>
                    10.2&nbsp; {i18n.agb.TEXT_10_2}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_11}</h3>
                <p>
                    11.1&nbsp; {i18n.agb.TEXT_11_1}
                </p>
                <p>
                    11.2&nbsp; {i18n.agb.TEXT_11_2}
                </p>
                <p>
                    11.3&nbsp; {i18n.agb.TEXT_11_3}
                </p>
                <h3 class="mt-5 font-bold">{i18n.agb.TITLE_12}</h3>
                <p>
                    12.1&nbsp; {i18n.agb.TEXT_12_1}
                </p>
                <p>
                    12.2&nbsp; {i18n.agb.TEXT_12_2}
                </p>
                <p>12.3&nbsp; {i18n.agb.TEXT_12_3}</p>
                <p>
                    12.4&nbsp; {i18n.agb.TEXT_12_4}
                </p>
                <p>
                    12.5&nbsp; {i18n.agb.TEXT_12_5}
                </p>
            </div>
        </div>
    </div>
</Layout>
