---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n/index.ts";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout
    title={i18n.cookies.SEO_TITLE}
    description={i18n.cookies.SEO_DESCRIPTION}
    keywords=""
>
    <link slot="alternate" rel="alternate" hreflang="de" href="https://gillotconsulting.com/cookies/" />
	<link slot="alternate" rel="alternate" hreflang="en" href="https://gillotconsulting.com/en/cookies/" />
	<link slot="alternate" rel="alternate" hreflang="fr" href="https://gillotconsulting.com/fr/cookies/" />
	<link slot="alternate" rel="alternate" hreflang="x-default" href="https://gillotconsulting.com/cookies/" />

    <meta slot="noindex" name="robots" content="noindex">
    <div
        class="max-w-3xl mx-auto px-6 py-10 bg-white/10 rounded-xl shadow-md text-center backdrop-blur-md border border-white/10"
    >
        <h1 class="text-3xl md:text-4xl font-bold text-center text-white mb-6">
            {i18n.cookies.TITLE}
        </h1>

        <div class="text-gray-300 space-y-4 leading-relaxed">
            <p>
                {i18n.cookies.TEXT_1}
            </p>
            <p>
                {i18n.cookies.TEXT_2}
            </p>
            <p>
                {i18n.cookies.TEXT_3}
            </p>
        </div>
    </div>
</Layout>
