---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n/index.ts";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout
    title={i18n.cookies_denied.SEO_TITLE}
    description={i18n.cookies_denied.SEO_DESCRIPTION}
    keywords=""
>
    <meta slot="noindex" name="robots" content="noindex">
    <div class="flex flex-col mt-20 items-center justify-center text-center space-y-2 px-6 py-4 bg-[#DB1F32] rounded-xl shadow-inner backdrop-blur-sm max-w-md mx-auto">        <h1 class="text-2xl font-bold text-[#82121E] mb-4">{i18n.cookies_denied.TITLE}</h1>
        <p class="mb-6">
            {i18n.cookies_denied.TEXT}
        </p>

        <button
            id="acceptCookies"
            class="px-5 py-3 text-lg rounded cursor-pointer text-[#82121E] hover:text-white bg-white hover:bg-black/40 transition-all duration-300 font-bold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2"
        >
            {i18n.cookies_denied.BUTTON}
        </button>

        <script type="module">
            import Cookies from "https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/+esm";

            document
                .getElementById("acceptCookies")
                ?.addEventListener("click", () => {
                    Cookies.set("cookies-accepted", "true", { expires: 365 });
                    document.body.style.overflow = "";
                    window.location.href = "/";
                });
        </script>
    </div>
</Layout>
