---
import { getI18N } from "@/i18n/index.ts";
import Layout from "@/layouts/Layout.astro";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout
    title={i18n.impressum.SEO_TITLE}
    description={i18n.impressum.SEO_DESCRIPTION}
>
    <div class="px-5">
        <h1 class="text-4xl font-bold text-center mb-3">{i18n.impressum.TITLE}</h1>

        <div class="p-8 max-w-3xl mx-auto space-y-6">
            <div>
                <h2 class="text-2xl font-bold mb-2">
                    {i18n.impressum.SUBTITLE}
                </h2>
                <address class="not-italic">
                    <p>Rotenkreuzgasse 10/21a</p>
                    <p>1020 WIEN</p>
                    <p>Österreich</p>
                </address>
            </div>

            <div class="space-y-1">
                <p><strong>{i18n.impressum.TELEFON}</strong> +43 66 44 54 32 44</p>
                <p><strong>Fax:</strong> 0664 77 45 43 244</p>
                <p>
                    <strong>E-Mail:</strong>
                    office (at) gillotconsulting.com
                </p>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-1">{i18n.impressum.SUBTITLE_2}</h3>
                <p>{i18n.impressum.OFFNUNGSZEITEN}<strong>9:00–18:00 Uhr</strong></p>
                <p>{i18n.impressum.OFFNUNGSZEITEN_3}</p>
            </div>

            <div>
                <p><strong>UID-Nr:</strong> ATU 43664708</p>
            </div>
            <a href="http://www.wkoecg.at/Web/Ecg.aspx?FirmaID=bce9a78b-1453-4d45-8a39-e5cca53f7803" target="_blank" class="inline-block">
                <img
                    src="/img/ecg.webp"
                    alt="ECG Logo"
                    class="w-auto h-auto"
                />
            </a>
        </div>
    </div>
</Layout>
