---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n/index.ts";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout
    title={i18n.index.SEO_TITLE}
    description={i18n.index.SEO_DESCRIPTION}
    keywords=""
>
    <link
        slot="preload"
        rel="preload"
        as="image"
        href="/img/content/background.webp"
    />
    <img
        src="/img/content/background.webp"
        alt="Background Image"
        loading="eager"
        class="absolute transition-all -z-10 inset-0 w-full h-full object-cover opacity-30 object-center"
    />
    <div>
        <h1
            class="text-4xl md:text-5xl font-bold text-center mx-auto mt-8 mb-1"
        >
            Gillot Computer Services
        </h1>
        <h2 class="text-2xl md:text-3xl text-center mx-auto">
            {i18n.index.SUBTITLE}
        </h2>
        <div class="mx-auto mt-8 md:mt-10">
            <section>
                <div
                    class="flex flex-col md:flex-row items-center justify-center my-4 gap-6 md:gap-50 mb-8"
                >
                    <div class="mb-4 md:mb-0">
                        <p class="text-lg font-semibold">
                            {i18n.index.HEADER_1}
                        </p>
                        <p class="text-base">
                            {i18n.index.HEADER_2}
                        </p>
                        <p class="italic text-sm text-gray-200">
                            {i18n.index.HEADER_3}
                        </p>
                    </div>
                    <div class="flex flex-row items-center gap-4 md:gap-8">
                        <div class="flex flex-col items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="50"
                                height="50"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
                                ></path></svg
                            >
                            <p class="text-center text-base md:text-lg">
                                +43 66 44 54 32 44
                            </p>
                        </div>
                    </div>
                </div>
                <p class="text-center text-base md:text-lg">
                    Rotenkreuzgasse 10/21a 1020 Wien, Österreich
                </p>
                <!-- Delete this next div when the addres is changed (change the addres text above) -->
                <div
                    class="mt-5 text-center flex flex-col items-center space-y-2"
                >
                    <p
                        class="text-center text-lg font-medium bg-[#DB1F32] px-6 py-2 rounded-xl shadow-inner backdrop-blur-sm"
                    >
                        <span class="text-xl font-bold text-[#82121E]"
                            >{i18n.index.ACHTUNG}</span
                        >
                        <span class="text-base md:text-lg"
                            ><br /> GILLOT CONSULTING SERVICES c/o Regus Messecarree</span
                        >
                        <span class="text-base md:text-lg"
                            ><br /> Ausstellungsstrasse 50/C/2.Stock, 1020 Wien,
                            U-Bahn U2 Messe Prater</span
                        >
                    </p>
                </div>
            </section>
            <section
                class="drop-shadow-[0_-6px_10px_rgba(0,0,0,0.15)] shadow-lg z-10 flex flex-col items-center mt-8 md:mt-10 pt-6 md:pt-8 pb-6 md:pb-8 space-y-2 bg-[#125683] px-2 md:px-0"
            >
                <p class="text-center text-2xl font-bold text-[#DB1F32]">
                    {i18n.index.TEXT_3}
                </p>
                <p class="text-center text-lg font-medium mb-2">
                    {i18n.index.TEXT_1}
                </p>
                <p class="text-center text-lg font-medium">
                    {i18n.index.TEXT_2}
                </p>
                <p class="text-center text-lg font-medium">
                    {i18n.index.TEXT_4}
                </p>
            </section>
            <section class="bg-[#1974AF] z-10 p-15">
                <h2 class="text-2xl md:text-3xl text-center font-bold">
                    {i18n.index.WIR_BIETEN}
                </h2>
                <div class="flex justify-center mt-5">
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 text-center w-full max-w-4xl"
                    >
                        <div>
                            <span class="font-bold">
                                {i18n.index.WIR_BIETEN_SUBTITLE_1}
                            </span>
                            <span class="block text-sm">
                                {i18n.index.WIR_BIETEN_TEXT_1}
                            </span>
                        </div>
                        <div>
                            <span class="font-bold">
                                {i18n.index.WIR_BIETEN_SUBTITLE_2}
                            </span>
                            <span class="block text-sm">
                                {i18n.index.WIR_BIETEN_TEXT_2}
                            </span>
                        </div>
                        <div>
                            <span class="font-bold">
                                {i18n.index.WIR_BIETEN_SUBTITLE_3}
                            </span>
                            <span class="block text-sm">
                                {i18n.index.WIR_BIETEN_TEXT_3}
                            </span>
                        </div>
                        <div>
                            <span class="font-bold">
                                {i18n.index.WIR_BIETEN_SUBTITLE_4}
                            </span>
                            <span class="block text-sm">
                                {i18n.index.WIR_BIETEN_TEXT_4}
                            </span>
                        </div>
                        <div>
                            <span class="font-bold">
                                {i18n.index.WIR_BIETEN_SUBTITLE_5}
                            </span>
                            <span class="block text-sm">
                                {i18n.index.WIR_BIETEN_TEXT_5}
                            </span>
                        </div>
                        <div>
                            <span class="font-bold">
                                {i18n.index.WIR_BIETEN_SUBTITLE_6}
                            </span>
                            <span class="block text-sm">
                                {i18n.index.WIR_BIETEN_TEXT_6}
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</Layout>
