---
import KontaktButton from "@/components/KontaktButton.astro";
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n/index.ts";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout
    title={i18n.dienstleistungen.schulungen.SEO_TITLE}
    description={i18n.dienstleistungen.schulungen.SEO_DESCRIPTION}
    keywords={i18n.dienstleistungen.schulungen.KEYWORDS}
>
    <div class="px-5">
        <h1 class="text-4xl md:text-5xl font-bold text-center mx-auto mt-8">
            {i18n.dienstleistungen.schulungen.TITLE}
        </h1>
        <h2
            class="text-xl md:text-2xl text-center mx-auto text-white/70 max-w-2xl mb-6"
        >
            {i18n.dienstleistungen.schulungen.SUBTITLE_1}
        </h2>
        <section class="text-center max-w-2xl mx-auto text-lg mb-8">
            <p>
                {i18n.dienstleistungen.schulungen.TEXT_1}
            </p>
        </section>
        <hr
            class="w-80 lg:w-200 h-1 mx-auto bg-white/20 border-0 rounded-sm md:my-2 mb-8 md:mb-10"
        />
        <section
            class="bg-white/10 p-6 max-w-6xl mx-auto rounded-xl shadow-lg backdrop-blur-sm border border-white/10 hover:bg-white/15 hover:shadow-xl transition-all duration-300"
        >
            <h3 class="font-bold text-2xl mb-5 text-[#f4d35e]">
                {i18n.dienstleistungen.schulungen.SUBTITLE_2}
            </h3>
            <ul>
                <li class="list-disc list-inside">
                    {i18n.dienstleistungen.schulungen.LIST_1}
                </li>
                <li class="list-disc list-inside">
                    {i18n.dienstleistungen.schulungen.LIST_2}
                </li>
                <li class="list-disc list-inside">
                    {i18n.dienstleistungen.schulungen.LIST_3}
                </li>
                <li class="list-disc list-inside">
                    {i18n.dienstleistungen.schulungen.LIST_4}
                </li>
            </ul>
            <p class="mt-5 leading-relaxed">
                {i18n.dienstleistungen.schulungen.TEXT_2}
            </p>
        </section>
    </div>
    <KontaktButton />
</Layout>
